

<div class="about-container">
    <h1>About Me</h1>
    <h2><%= name %></h2>
    <div class="profile-image-container">
        <img src="images/profilepic.jpg" alt="<%= name %>" class="profile-image">
    </div>
    <div class="bio-section">
        <p><%= bio %></p>
    </div>
</div>
