
<div class="home-container">
    <section class="hero">
        <h1>Welcome to My Website</h1>
        <p>This is my personal space where I share my work and thoughts</p>
    </section>
    <section class="content">
        <div class="featured">
            <h2>Featured Work</h2>
            <div class="featured-items">
                <!-- You can make this dynamic later -->
                <div class="item">
                    <h3>Flipper</h3>
                    <p>We aim to provide a platform for those engaged in product flipping on Facebook or eBay to effectively manage and monitor inventory and price.</p>
                </div>
                <div class="item">
                    <h3>Camp Fire</h3>
                    <p>We were inspired by our own stories, times of hardship and loneliness in our personal lives. We wanted to create a place where people like us could relate to each other better and feel more encouraged to do wholesome activities.</p>
                </div>
            </div>
        </div>
    </section>
</div>